.expertise {
  padding: 40px 0;
  box-sizing: border-box;
}

.expertise__title {
  margin: 10px 0;
}

.expertise__desc {
  margin: 0 0 30px 0;
  color: @basic-grey;
}

.expertise__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.experience-card {
  background-color: @basic-light-grey;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 0 20px 0;
  border-radius: 10px;

  &:last-child {
    margin: 0;
  }
}

.experience-card__title {
  margin: 0;
  font-weight: 900;
}

.experience-card__desc {
  color: @basic-grey;
}
