.skill {
  background-color: @basic-purpule;
  padding: 2% 0;
  border-radius: 30px;
  box-sizing: border-box;
}

.skill__info {
  background-color: @basic-light-grey;
  border-radius: 30px;
  width: 96%;
  margin: 0 auto;
  padding: 40px 0;
  box-sizing: border-box;
}

.info__wrapper {

  @media (min-width: @tablet-width) {
    display: flex;
    column-gap: 40px;
  }

  @media (min-width: @desktop-width) {
    column-gap: 80px;
  }
}

.skill__title {
  margin: 10px 0;
  text-transform: unset;
}

.skill__desc {
  margin: 0;
  color: @basic-grey;
}

.skill__list {
  padding: 0;
  margin: 30px 0 0 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    justify-content: flex-end;
  }
}

.skill-card {
  background-color: @basic-white;
  text-align: center;
  border-radius: 10px;
  width: 149px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    &:nth-child(odd) {
      align-self: flex-start;
      margin: 0;
    }

    &:nth-child(even) {
      align-self: center;
      margin: 40px 0 0 0;
    }
  }

  @media (min-width: @desktop-width) {
    width: 170px;
  }
}

.skill__item {
  padding: 20px 0;
}

//Statictics blocks

.stat__list {
  padding: 0;
  margin: 20px 0 0 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-around;
  }
}

.card__title {
  text-transform: unset;
  margin: 0;
  color: @basic-grey;
}

.stat__item {
  text-align: center;
  width: 150px;
  margin: 10px auto;

  @media (min-width: @tablet-width) {
    width: 100px;
    margin: 0;
  }
}

.stat__number {
  color: @basic-white;
  font-weight: 900;
}

.stat__desc {
  color: @basic-grey;
}

//progress skill

.skill-card__circle {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

.skill-card__progress-bar {
  width: 80px;
  height: 80px;
}

.progress-bar__bg {
  fill: none;
  stroke-width: 6px;
  stroke: @basic-light-grey;
}

.progress-bar {
  fill: none;
  stroke-width: 6px;
  stroke-linecap: round;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.progress-bar--html {
  stroke: @basic-purpule;
  stroke-dasharray: 280.36;
  stroke-dashoffset: 85;
  // animation: one 2.5s ease-in-out, appear 1s;
}

.progress-bar--css {
  stroke: @basic-orange;
  stroke-dasharray: 255.36;
  stroke-dashoffset: 80;
}

.progress-bar--javascript {
  stroke: @basic-red;
  stroke-dasharray: 157.36;
  stroke-dashoffset: 80;
}

.progress-bar--vue {
  stroke: none;
  stroke-dasharray: 120.36;
  stroke-dashoffset: 80;
}

.skill-card__text {
  position: absolute;
  width: 100%;
  top: 32px;
  font: inherit;
  text-align: center;
  font-weight: 900;
  line-height: 16px;
  margin: 0;
}
